MessageEncrypter seems to allow writing content type, violating TLS 1.3 spec

**Checklist**
* [x] I've searched the issue tracker for similar bugs.

**Describe the bug**
[`MessageEncrypter`](https://docs.rs/rustls/latest/rustls/crypto/cipher/trait.MessageEncrypter.html) specify the `OutboundOpaqueMessage` as the output of the AEAD encryption operation. To construct this type, these bytes are required while in fact the RFC 8446 §5.2 requires them to be hard-coded.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the `ring` crypto backend encrypter to set the content type to `Heartbeat`
2. Make a round-trip with this crypto backend
3. The connection is established and application data stream works as usual

**Applicable Version(s)**
At `HEAD` of `main`.

**Expected behavior**
TLS 1.3 mode should reject anything but `ApplicationData` + TLS 1.2 version bytes. The setup above should result in decryption failure fatal alert when exchanging application data.


⚠️ I am not a rustls expert. I digged into this subject because I had to evaluate it for my current work. Thus, my understanding could be completely wrong ⚠️ 

If I understood well your report, you are talking about this extract of the RFC : 
```
      struct {
          ContentType opaque_type = application_data; /* 23 */
          ProtocolVersion legacy_record_version = 0x0303; /* TLS v1.2 */
          uint16 length;
          opaque encrypted_record[TLSCiphertext.length];
      } TLSCiphertext;

[...]

   opaque_type:  The outer opaque_type field of a TLSCiphertext record
      is always set to the value 23 (application_data) for outward
      compatibility with middleboxes accustomed to parsing previous
      versions of TLS.  The actual content type of the record is found
      in TLSInnerPlaintext.type after decryption.
```

Indeed, `OutboundOpaqueMessage` does allow setting the type. However, `OutboundOpaqueMessage` is *not* specific to TLS 1.3 is can also be used for TLS 1.2.

That is also true for the trait `MessageEncrypter`.

Thus, the hard-coded value is not there but on the implementer side. If you go see the code of `ring` for [TLS 1.3, you'll find the hard coded value](https://github.com/rustls/rustls/blob/b19fbfd474c6eb03417793efe80d900d5c699242/rustls-ring/src/tls13.rs#L216), and if you look at the [TLS 1.2 it will be dynamic](https://github.com/rustls/rustls/blob/b19fbfd474c6eb03417793efe80d900d5c699242/rustls-ring/src/tls12.rs#L302).

Setting the content type to `Heartbeat` still works because [it is set to the payload](https://github.com/rustls/rustls/blob/b19fbfd474c6eb03417793efe80d900d5c699242/rustls-ring/src/tls13.rs#L209) as required by the RFC (`The actual content type of the record is found in TLSInnerPlaintext.type after decryption.`).

If that is correct, then I think that everything is designed and works as expected (which is good for retro-compatibility). 

P.S:
However, the `OutboundOpaqueMessage` documentation says `A TLS frame, named TLSPlaintext in the standard.` and I think it should talk of a `TLSCyphertext` instead.

There are many ways an implementer of this interface can do something non-standards-conforming. It doesn't matter in this case because the message type has no meaning in TLS1.3. Naturally it is load-bearing in TLS1.2.

> However, the `OutboundOpaqueMessage` documentation says `A TLS frame, named TLSPlaintext in the standard.` and I think it should talk of a `TLSCyphertext` instead.

Thanks, addressed in https://github.com/rustls/rustls/pull/3075/changes/4af14c79df00c3c0567a7e50c9058b53e3844efd