The sni must be case-insensitive.

The sni method must be case-insensitive. The add method here is not converted to lowercase.

https://github.com/rustls/rustls/blob/b3e354b3dc0de23b13ec1979206066b4f2914395/rustls/src/server/handy.rs#L157

https://datatracker.ietf.org/doc/html/rfc3546#section-3.1

@silence-coding Are you saying that, when the user gives us a SNI value with uppercase letters, e.g. "EXAMPLE.org", that we don't normalize it to lowercase when we put it in the ClientHello message? I agree that we should, although the spec doesn't require or even recommend it.

Specifically, RFC6066 says about case and comparison only:
> DNS hostnames are case-insensitive.  The
 algorithm to compare hostnames is described in RFC5890 Section 2.3.2.4.



@briansmith No, I'm talking about the problem that ctz has fixed
https://github.com/rustls/rustls/pull/1017