Server-side Encrypted Client Hello (ECH) support

**Checklist**
* [x] I've searched the issue tracker for similar requests - https://github.com/rustls/rustls/issues/199 covers the general case. We want a more specific issue for server-side support.

**Is your feature request related to a problem? Please describe.**

Rustls should support [encrypted client hello (ECH)](https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-18) when operating as a server.

**Describe the solution you'd like**

I want to be able to implement a TLS server that supports ECH, operating in either of the supported [topologies](https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-18#section-3.1) - shared mode, or split mode.

I want to be able to ergonomically load ECH configurations and associated private key material in a server config. It should be possible to indicate which (if any) of the ECH configs should be offered as "retry configurations", to support graceful migration between ECH configs. Ideally it would be possible to change configurations without requiring a server reload.

**Describe alternatives you've considered**

N/A.

**Additional context**

Client side-support was implemented in https://github.com/rustls/rustls/pull/1718


The IETF has officially published RFC 9849: On March 3, 2026, the TLS Encrypted Client Hello (ECH) specification formally advanced to **Proposed Standard** (Standards Track), transitioning from its long-term Internet-Draft status (draft-ietf-tls-esni) to an official RFC.

The supporting standards were published at the same time:

- **RFC 9848**: Bootstrapping ECH configuration using DNS SVCB/HTTPS records.  
- **RFC 9934**: PEM file format for ECH configurations.