Allow extracting information for `tls-unique` Channel Binding

Hello!

Authentication frameworks such as GSSAPI and SASL implement a concept called ["channel binding"](https://www.rfc-editor.org/rfc/rfc5056) in which they cryptographically verify in the authentication exchange that both parties are seeing the same cryptographic channel, thus binding the authentication to the underlying transport security layer and preventing a few attacks.

To be able to do this the authentication frameworks include data from the underlying encryption layer in the secrets used for the authentication itself.

In the case of TLS there are two common kinds of channel bindings, [standardized in RFC5929](https://www.rfc-editor.org/rfc/rfc5929.html): `tls-server-end-point` which uses the first Certificate provided by the server, and `tls-unique` which uses the first "Finished" Message sent in the connection.
Getting to the first certificate sent by the server is already possible via `ClientConnection::peer_certificates` as the client or … well … *keeping it around* as the server. However, I don't see any way to get to the (contents of the) Finished message as either server or client.

Am I missing something or is there no way currently? And if the latter, is this something that the rustls team would be willing to add or to merge a PR adding it?

`tls-unique` is not defined for TLS1.3, and [its replacement](https://www.ietf.org/id/draft-ietf-kitten-tls-channel-bindings-for-tls13-12.html) can be implemented using existing APIs in this crate.

As for implementing `tls-unique` for _just_ TLS1.2 here, I'm not sure. Really I think it's a shame and a mistake that RFC5929 wasn't implemented in terms of RFC5705. If we were to implement it I think we'd have to restrict it to connections that successfully negotiate the RFC7627 extended master secret extension (due to the triple handshake vuln). That might make it unusable for your use case. Could you describe your use case?

Ah thanks, I didn't know TLS1.3 replaced `tls-unique`! 

> That might make it unusable for your use case. Could you describe your use case?

"I'm currently writing a SASL framework and would like to be able to test its channel binding support" ^^

Slightly more seriously though, the only real usecase I have for channel bindings is one where we control both sides of the connection so we can just have a hard requirement on TLS 1.3 if CB are to be used.

The biggest reason why I was looking at `tls-unique` is that a) I'm coming to the topic from the SASL/GSSAPI side and don't know enough about TLS to realize that TLS 1.3 is incompatible there, b) the library I am using to check compatability against only implements tls-unique.

As the replacement for `tls-unique` (i.e. `tls-exporter`) has now been published as [RFC 9266](https://www.rfc-editor.org/info/rfc9266) and I'm not aware of any SASL implementations that are planning on adding `tls-unique` channel binding support I think this issue can be closed.

@dequbed: Can you reopen this ticket?
Currently it is not complete...

Details:
- RFC5929: tls-unique for TLS =< 1.2
- RFC9266: tls-exporter for TLS = 1.3

> @dequbed: Can you reopen this ticket?

No. I have no interest in burdening the rustls team with implementing the API necessary for `tls-unique`.

> Currently it is not complete...

It is complete. This issue is not about `tls-exporter`. This issue was specifically about `tls-unique`. 

Not only is RFC 9266 i.e. `tls-exporter` implementable since before I opened this issue, I have done so already. In *January*.