0-RTT Replay Mitigation for rustls (and quinn)

### Problem statement

I am investigating the possible use of 0-RTT in my application. My primary concern is replay attacks, as discussed in [RFC9000][RFC9000].

According to [RFC8446][RFC8446] Section 8, there are two relevant threat models:

1. Network attackers who mount a replay attack by simply duplicating a flight of 0-RTT data.
2. Network attackers who take advantage of client retry behavior to arrange for the server to receive multiple copies of an application message.

For my application, only the first threat model is relevant, because a single transaction (one packet <-> one transaction) cannot be executed twice by design.

However, if an attacker captures a sufficient number of 0-RTT packets, they could replay them to the server, leading to resource exhaustion at the application layer (e.g., decryption, deserialization, signature verification). In addition, replayed 0-RTT messages could exhaust per-user quotas. These scenarios most closely correspond to Attacks 1 and 4 described by [MacCarthaigh][MacCarthaigh].

### Replay Mitigation Mechanisms in TLS 1.3

RFC 8446 (Section 8) describes three general mechanisms to mitigate replay risks in 0-RTT:

1. Single-use tickets
2. ClientHello recording
3. Freshness checks (time-based limits)

OpenSSL implements (1) and (3).
NSS uses two rotating Bloom filters to ensure that tickets are not replayed within the acceptable ticket age window, which can be seen as a practical implementation of (2).

### Question

I would like to implement an approach similar to either OpenSSL or NSS, but I need guidance.

My current understanding is that rustls (and therefore Quinn) does not implement built-in 0-RTT replay mitigation mechanisms beyond the basic TLS semantics.

I am therefore trying to determine the most practical way to add such mitigations:

- Should this be implemented at the application level (e.g., via replay-tracking data structures)?
- Or would it require changes or extensions in rustls?


[MacCarthaigh]:  https://mailarchive.ietf.org/arch/msg/tls/mHxi-O3du9OQHkc6CBWBpc_KBpA/ "Colm MacCárthaigh. Security review of TLS1.3 0-RTT" 
[RFC8446]: https://www.rfc-editor.org/rfc/rfc8446#section-8 "Rescorla, E. The Transport Layer Security (TLS) Protocol Version 1.3, RFC 8446, Section 8"
[RFC9000]: https://www.rfc-editor.org/rfc/rfc9000 "Iyengar, J., Thomson, M. QUIC: A UDP-Based Multiplexed and Secure Transport, RFC 9000"

rustls implements (1) and (3)

(Apologies, that was a bit abrupt and I'm happy to continue the conversation on this but I don't believe it is an actionable issue at the current time.)