Support stateless resumption for QUIC 0-RTT

If 0-RTT is enabled, rustls only allows stateful resumption, which means in clustered environments, synchronizing the ServerSessionMemoryCache becomes necessary. This is challenging to implement. Is it possible to add an option to support stateless resumption in 0-RTT mode?

```
        if config.max_early_data_size > 0 {
            if !stateless {
                payload.extensions.max_early_data_size = Some(config.max_early_data_size);
            } else {
                // We implement RFC8446 section 8.1: by enforcing that 0-RTT is
                // only possible if using stateful resumption
                warn!("early_data with stateless resumption is not allowed");
            }
        }
```
 Any help would be appreciated, thanks.

This would mean implementing another option from https://datatracker.ietf.org/doc/html/rfc8446#section-8 (noting the caveats in 8.2 if you lack distributed storage across notes, and the limited nature of 8.3).